#gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 6%;
    padding-left: 2%;
    padding-right: 2%;
    row-gap: 25px;
    max-width: 70%;
}

.flex-center {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.filter {
    background-color:transparent;
    border-width:0px;
    color: white;
}