#navbar {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    width: 18%;
    position: absolute;
    height: 98%;
    flex: 1;
    opacity: 0.8;
}

#invisible {
    visibility: hidden;
}

#top-of-nav {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

#home {
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
}

#bottom-of-nav {
    display:flex;
    margin-top: auto;
    justify-content: center;

}

.nav-button {
    color: white;
    background-color:black;
    text-align: left;
    background: transparent;
    border-width:2px;
    border-color:transparent;
    padding:8%;
}

.nav-button:hover {
    border-width:2px;
    border-color:#FFE81F;
    color:#FFE81F;
}
#nav-features {
    display: flex;
    flex-direction: column;
}

.icons {
    color: white;
    background: black;
    border-width: 0px;
}

.icons:hover {
    color: #FFE81F;
}