.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 94%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.8;
}
@media screen and (max-width: 600px) {
    #navbar {
        width: 100vw;
        opacity: 0.9;
    }
}

#invisible {
    visibility: hidden;
}

#top-of-nav {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

#home {
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
}

#bottom-of-nav {
    display:flex;
    margin-top: auto;
    justify-content: center;
    padding-bottom: 30px;
    gap: 5%;
}

.nav-button {
    color: white;
    background-color:black;
    text-align: left;
    background: transparent;
    border-width:2px;
    border-color:transparent;
    padding:8%;
}

.nav-button:hover {
    border-width:2px;
    border-color:#FFE81F;
    color:#FFE81F !important;
}
#nav-features {
    display: flex;
    flex-direction: column;
}

.icons {
    color: white;
    background: black;
    border-width: 0px;
}

.icons:hover {
    color: #FFE81F;
}
